@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css');
@import url('https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.5.2/src/index.min.js');
@import url('https://use.typekit.net/qmw4cxb.css');

body {
  background-color: #202020;
  overflow: auto;
}

.blenny {
  font-family: blenny, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.paralucent {
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.prose img {
  margin: 0 auto;
  border-radius: 5px;
}

.jb-bg {
  background-color: #202020;
}

canvas {
  margin: 0;
}